data/jsons/Clement_Bisaillon.json
data/jsons/Erfan_Moosavi_Monazzah.json
data/jsons/Mahdi_Mashayekhi.json
data/jsons/Saurabh_Shahane.json
data/jsons/Subhajournal.json
data/Saurabh_Shahane/WELFake_Dataset.csv
combined_news.json
